.App {
  background-color: #141414;
}

.main-footer{
  background-color: #343a34;
  padding: 3rem;
  color: aliceblue;
}

.footer-bottom{
  padding-bottom: 3rem;
  padding-top: 2rem;
}

ul li a{
  color: darkgray;
}

ul li a:hover{
  color: aliceblue;
}

.netflix-nav-dark{
background-color: #141414;
}

.navBrand{
  height:50px;
}

.white-border {
  border: solid 1px white;
  background-color: black;
}

.nav-text {
  color: white;
}

.sections {
  color: white;
}

svg {
  fill: white;
}

.NavDropdown {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid grey;
}

.NavDropdown.Item {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.dropdown-item:hover {
  color: white;
  background-color: transparent;
  }

