.nav-left {
  margin-left: 50% !important;
}
.font-color {
  color: white !important;
}
.footer-list {
  background-color: rgba(27, 26, 26, 0.466) !important;
  border: none !important;
  color: white;
}
